@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .fadeOut {
    animation: fadeOut .4s ease-in-out both;
  }
  @keyframes fadeOut {
    0 % {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
    
  }
  .fadeIn {
      animation: fadeIn .4s ease-in both;
  }
  @keyframes fadeIn {
      0 % {
      opacity: 0;
      }
      100% {
      opacity: 1;
      }
  }
}

.multiselect-container li:hover { background: rgb(165 180 252) !important; color: rgb(0, 0, 0) !important; cursor: pointer; } .highlightOption { background: rgb(165 180 252); color: #000000; }